[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "libtcod"]
	path = libtcod
	url = https://github.com/libtcod/libtcod.git
[submodule "vendor/ppg-yaml"]
	path = vendor/ppg-yaml
	url = https://github.com/dAmihl/ppg-yaml
